/*Import du font Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6;
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--color-text);
    padding: 15px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    background: var(--color-card);
    padding: 32px;
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 900px;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header .logo-wrapper .logo {
    width: 55px;
    height: 56px;
    display: flex;
    color: #fff;
    font-size: 1.35rem;
    flex-shrink: 0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: var(--color-gradient);
}

.header .logo-wrapper .h1 {
    font-size: 1.9rem;
    font-weight: 700;
}

.header .theme-toggle {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    color: var(--color-placeholder);
    align-items: center;
    justify-content: center;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.header .theme-toggle:hover {
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin: 35px 0px 5px;
}

.main-content .prompt-container {
    width: 100%;
    margin-bottom: 20px;
}

.prompt-container .prompt-input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid var(--color-border);
    background: var(--color-input);
    font-size: 1rem;
    color: var(--color-text);
    outline: none;
    transition: all 0.3s ease;
    resize: veertical;
}

.prompt-container .prompt-input::placeholder {
    color: var(--color-placeholder);
    font-size: 1rem;
}

.prompt-container .prompt-input:focus {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 4px 6px -1px rgba(92, 86, 225, 0.3);
}